---
title: 5.0 &mdash; Buttons
---

<h2>5.1 &mdash; Normal Buttons</h2>

<% styleguide_block '5.1.1' do %>
  <a class="button $modifier_class">Normal Button</a>
<% end %>

<pre><code>:::html
<a class="button">Normal Button</a>
</code></pre>

<% styleguide_block '5.1.2' do %>
  <a class="button large $modifier_class">Large Button</a>
<% end %>

<pre><code>:::html
<a class="button large">Large Button</a>
</code></pre>

<% styleguide_block '5.1.3' do %>
  <a class="button medium $modifier_class">Medium Button</a>
<% end %>

<pre><code>:::html
<a class="button medium">Medium Button</a>
</code></pre>

<% styleguide_block '5.1.4' do %>
  <a class="button small $modifier_class">Small Button</a>
<% end %>

<pre><code>:::html
<a class="button small">Small Button</a>
</code></pre>

<% styleguide_block '5.1.5' do %>
  <a class="button tiny $modifier_class">Tiny Button</a>
<% end %>

<pre><code>:::html
<a class="button tiny">Tiny Button</a>
</code></pre>

<% styleguide_block '5.1.6' do %>
  <a class="button expand $modifier_class">Expanding Button</a>
<% end %>

<pre><code>:::html
<a class="button expand">Expanding Button</a>
</code></pre>

<% styleguide_block '5.1.7' do %>
  <a class="button primary $modifier_class">Primary Button</a>
<% end %>

<pre><code>:::html
<a class="button primary">Primary Button</a>
</code></pre>

<% styleguide_block '5.1.8' do %>
  <a class="button success $modifier_class">Success Button</a>
<% end %>

<pre><code>:::html
<a class="button success">Success Button</a>
</code></pre>

<% styleguide_block '5.1.9' do %>
  <a class="button alert $modifier_class">Alert Button</a>
<% end %>

<pre><code>:::html
<a class="button alert">Alert Button</a>
</code></pre>

<% styleguide_block '5.1.10' do %>
  <a class="button secondary $modifier_class">Secondary Button</a>
<% end %>

<pre><code>:::html
<a class="button secondary">Secondary Button</a>
</code></pre>

<% styleguide_block '5.1.11' do %>
  <a class="button disabled $modifier_class">Disabled Button</a>
<% end %>

<pre><code>:::html
<a class="button disabled">Disabled Button</a>
</code></pre>

<h2>5.2 &mdash; Dropdown Buttons</h2>

<% styleguide_block '5.2.1' do %>
  <div href="#" class="button dropdown $modifier_class">
    Dropdown Button
    <ul>
      <li><a href="#">Dropdown Item</a></li>
      <li><a href="#">Another Dropdown Item</a></li>
      <li class="divider"></li>
      <li><a href="#">Last Item</a></li>
    </ul>
  </div>
<% end %>

<pre><code>:::html
<div href="#" class="button dropdown">
  Dropdown Button
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#">Last Item</a></li>
  </ul>
</div>
</code></pre>

<% styleguide_block '5.2.2' do %>
  <div href="#" class="button dropdown split $modifier_class">
    <a href="#">Split Button</a>
    <span></span>
    <ul>
      <li><a href="#">Dropdown Item</a></li>
      <li><a href="#">Another Dropdown Item</a></li>
      <li class="divider"></li>
      <li><a href="#">Last Item</a></li>
    </ul>
  </div>
<% end %>

<pre><code>:::html
<div href="#" class="button dropdown split">
  <a href="#">Split Button</a>
  <span></span>
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#">Last Item</a></li>
  </ul>
</div>
</code></pre>

<h2>5.3 &mdash; Button Groups</h2>

<% styleguide_block '5.3.1' do %>
  <ul class="button-group $modifier_class">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
  </ul>
<% end %>

<pre><code>:::html
<ul class="button-group">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
</ul>
</code></pre>

<% styleguide_block '5.3.2' do %>
  <ul class="button-group even two-up $modifier_class">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
  </ul>
<% end %>

<pre><code>:::html
<ul class="button-group even two-up">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
</ul>
</code></pre>

<% styleguide_block '5.3.3' do %>
  <ul class="button-group even three-up $modifier_class">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
  </ul>
<% end %>

<pre><code>:::html
<ul class="button-group even three-up">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
</ul>
</code></pre>

<% styleguide_block '5.3.4' do %>
  <ul class="button-group even four-up $modifier_class">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
    <li><a href="#" class="button">Button 4</a></li>
  </ul>
<% end %>

<pre><code>:::html
<ul class="button-group even four-up">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
  <li><a href="#" class="button">Button 4</a></li>
</ul>
</code></pre>

<% styleguide_block '5.3.5' do %>
  <ul class="button-group even five-up $modifier_class">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
    <li><a href="#" class="button">Button 4</a></li>
    <li><a href="#" class="button">Button 5</a></li>
  </ul>
<% end %>

<pre><code>:::html
<ul class="button-group even five-up">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
  <li><a href="#" class="button">Button 4</a></li>
  <li><a href="#" class="button">Button 5</a></li>
</ul>
</code></pre>

<% styleguide_block '5.3.6' do %>
  <div class="button-bar">
    <ul class="button-group">
      <li><a href="#" class="button">Button 1</a></li>
      <li><a href="#" class="button">Button 2</a></li>
    </ul>

    <ul class="button-group">
      <li><a href="#" class="button">Button 1</a></li>
      <li><a href="#" class="button">Button 2</a></li>
    </ul>
  </div>
<% end %>

<pre><code>:::html
<div class="button-bar">
  <ul class="button-group">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
  </ul>

  <ul class="button-group">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
  </ul>
</div>
</code></pre>

